{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - forms_by_number: available JCC forms media
 *
 * @see template_preprocess_views_view()
 */
#}
{% set tag = tag|default('div') %}
{% set classes = [
  'view',
  'view-' ~ id|clean_class,
  'view-id-' ~ id,
  'view-display-id-' ~ display_id,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
] %}

{% block view %}
  <{{ tag }}{{ attributes.addClass(classes) }}>

    {% if not no_hero %}
      {% block exposed %}
        {% if exposed %}
          {% set hero_content %}
            <p>
              Search for any topic or form number,
              <a href="/find-forms/all">view all forms</a> or
              <a href="/find-forms/all-by-category">view all forms by category</a>
            </p>
            <div class="view__filters">{{ exposed }}</div>
          {% endset %}
          {% include '@molecules/blocks/hero/hero.twig' with {
            hero: {
              background_variant: 'has-background-color--dark',
              title: 'Find Your Court Forms',
              body: hero_content
            }
          } %}
        {% endif %}
      {% endblock %}
    {% endif %}

    {% set instruct %}
      <p>Use Adobe Reader. <a href="/pdf-working-court-forms-1" target="_blank">See instructions</a>.</p>
    {% endset %}
    {% include '@molecules/blocks/alert/alert.twig' with {
      alert: {
        type: 'warning',
        icon: true,
        heading: 'Don\'t fill forms in your browser!',
        text: instruct,
      }
    } %}

    {% block content %}
      {% if query and search_results %}
        {% if category_info %}
          {% set category_info__content %}
            <ul>
              <li><a href="{{ category_info.url }}" target="_blank">Read the {{ category_info.title }} self-help guide</a></li>
              <li><a href="{{ category_info.formsUrl }}" target="_blank">See {{ category_info.title }} forms packet</a></li>
            </ul>
          {% endset %}
          {% include '@molecules/blocks/alert/alert.twig' with {
            alert: {
              type: 'info',
              icon: true,
              heading: 'Looking for info about ' ~ category_info.query ~ '?',
              text: category_info__content,
            }
          } %}
        {% endif %}

        {% set forms = [] %}
        {% for form in search_results %}
          {% set title = form.number %}
          {% if form.mandatory %}
            {% set title = title ~ ' *' %}
          {% endif %}
          {% set content %}
            {% if form.name %}<p>{{ form.name }}</p>{% endif %}
            {% if form.effective_date %}<p>Effective: {{ form.effective_date|date('F j, Y') }}</p>{% endif %}
            {% if form.languages %}
              {% set avail_languages = [] %}
              {% for language in form.languages %}
                {% set avail_languages = avail_languages|merge([{
                  text: language,
                }]) %}
              {% endfor %}
              {% include '@molecules/blocks/tags/tags.twig' with {
                tags: {
                  style: 'pill',
                  icon: {
                    name: 'language-translation',
                    title: 'Available translated forms',
                    decorative: false,
                    width: 'width-4',
                    height: 'height-4',
                    color: 'text-base-dark',
                  },
                  items: avail_languages,
                }
              } %}
            {% endif %}
          {% endset %}
          {% if form.information or form.download %}
            {% set actions %}
              {% if form.information %}{{ form.information }}{% endif %}
              {{ form.download }}
            {% endset %}
          {% endif %}

          {% set forms = forms|merge([{
            title: title,
            link: {
              url: form.url,
              url_label: 'Get more information and options for ' ~ form.number,
              target: '_blank',
            },
            content: content,
            actions: actions,
          }]) %}
        {% endfor %}

        <div class="jcc-find-forms">
          <div class="jcc-find-forms__notation">
            {% if not no_count %}
              <p>Found {{ view.total_rows }} forms matching "{{ query }}".</p>
            {% endif %}
            <p>Forms marked with the asterisk ("*") are adopted for mandatory use by all courts.</p>
          </div>
          <div class="jcc-find-forms__results">
            {% include '@molecules/blocks/list-group/list-group.twig' with {
              list_group: {
                display: 'rich',
                content_block_cta: true,
                items: forms,
              }
            } %}
          </div>
        </div>
      {% else %}
        {% if popular_topics %}
          {% include '@organisms/sections/link-list-with-button/link-list-with-button.twig' with {
            link_list_with_button: {
              headergroup: {
                title: 'Popular Topics'
              },
              columns: 2,
              items: popular_topics,
            }
          } %}
        {% else %}
          <div class="jcc-find-forms">
            <div class="jcc-find-forms__notation">
              <p>No forms found for the topic or number entered. Try adjusting your search or view <a href="/find-forms/all">all forms</a> or <a href="/find-forms/all-by-category">view by category</a>.</p>
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% endblock %}

    {% if query and search_results %}
      {% block pager %}
        {% if pager %}
          {{ pager }}
        {% endif %}
      {% endblock %}
    {% endif %}
  </{{ tag }}>
{% endblock %}
