{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - forms_by_number: available JCC forms media
 *
 * @see template_preprocess_views_view()
 */
#}
{% set tag = tag|default('div') %}
{% set classes = [
  'view',
  'view-' ~ id|clean_class,
  'view-id-' ~ id,
  'view-display-id-' ~ display_id,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
] %}

{% block view %}
  <{{ tag }}{{ attributes.addClass(classes) }}>
    {% set hero_content %}
      <p>
        Browse the list of all court forms or
        <a href="/find-forms">search by topic or form number</a>
      </p>
    {% endset %}
    {% include '@molecules/blocks/hero/hero.twig' with {
      hero: {
        background_variant: 'has-background-color--dark',
        title: 'Find Your Court Forms',
        body: hero_content
      }
    } %}

    {% block content %}
      {% set instruct %}
        <p>Use Adobe Acrobat. <a href="/pdf-working-court-forms-1" target="_blank">See instructions</a>.</p>
      {% endset %}
      {% include '@molecules/blocks/alert/alert.twig' with {
        alert: {
          type: 'warning',
          icon: true,
          heading: 'Don\'t fill forms in your browser!',
          text: instruct,
        }
      } %}

      <div class="jcc-find-forms__toggle_view form-type--checkbox text-align-right margin-bottom-2">
        <span class="ajax-progress-throbber margin-right-1"><span id="throbber__container"></span></span>
        <input aria-describedby="org_by_category" type="checkbox" class="form-checkbox form-boolean form-boolean--type-checkbox" onclick="location.href='/find-forms/all-by-category'; document.getElementById('throbber__container').classList.add('throbber'); this.disabled=true;">
        <span class="checkbox-toggle"><span class="checkbox-toggle__inner"></span></span>
        <label for="org_by_category" class="form-item__label option">Organize by category</label>
      </div>

      {% if forms_by_number %}
        {% set forms = [] %}
        {% for form in forms_by_number %}
          {% set title = form.number %}
          {% if form.mandatory %}
            {% set title = title ~ ' *' %}
          {% endif %}
          {% set content %}
            {% if form.name %}<p>{{ form.name }}</p>{% endif %}
            {% if form.effective_date %}<p>Effective: {{ form.effective_date|date('F j, Y') }}</p>{% endif %}
            {% if form.languages %}
              {% set avail_languages = [] %}
              {% for language in form.languages %}
                {% set avail_languages = avail_languages|merge([{
                  text: language,
                }]) %}
              {% endfor %}
              {% include '@molecules/blocks/tags/tags.twig' with {
                tags: {
                  style: 'pill',
                  icon: {
                    name: 'language-translation',
                    title: 'Available translated forms',
                    decorative: false,
                    width: 'width-4',
                    height: 'height-4',
                    color: 'text-base-dark',
                  },
                  items: avail_languages,
                }
              } %}
            {% endif %}
          {% endset %}
          {% if form.information or form.download %}
            {% set actions %}
              {% if form.information %}{{ form.information }}{% endif %}
              {{ form.download }}
            {% endset %}
          {% endif %}

          {% set forms = forms|merge([{
            title: title,
            link: {
              url: form.url,
              url_label: 'Get more information and options for ' ~ form.number,
              target: '_blank',
            },
            content: content,
            actions: actions,
          }]) %}
        {% endfor %}

        <div class="jcc-find-forms">
          <div class="jcc-find-forms__notation">
            <p>Forms marked with the asterisk ("*") are adopted for mandatory use by all courts.</p>
          </div>
          <div class="jcc-find-forms__results">
            {% include '@molecules/blocks/list-group/list-group.twig' with {
              list_group: {
                display: 'rich',
                content_block_cta: true,
                items: forms,
              }
            } %}
          </div>
        </div>
      {% endif %}
    {% endblock %}

    {% block pager %}
      {% if pager %}
        {{ pager }}
      {% endif %}
    {% endblock %}
  </{{ tag }}>

{% endblock %}
