{#
/**
 * @file
 * Template for "JCC Form" media type using "Full content" display mode.
 */
#}

{# Get Form Category taxonomy term entities. #}
{% set form_categories = media.field_form_category %}

{# Create an empty tiles array. #}
{% set switchboard_tiles = [] %}

{# Add a class to the tile links so we can track these clicks separately in google tag manager #}
{% set tile_url_attributes = create_attribute({'class': ['form-info-tile-link']}) %}

{# Each link in each form category gets its own tile. #}
{% for key, form_category in form_categories %}
  {# Form info links #}
  {% for key, link in form_category.entity.field_category_info_link.value %}
    {# Prepare 'switchboard_tiles' for switchboard.twig #}
    {% set switchboard_tiles = switchboard_tiles|merge([{
      brow: "Go to"|t,
      title: link.title,
      url: link.uri,
      icon_link: true,
      url_attributes: tile_url_attributes
    }]) %}
  {% endfor %}
  
  {# Form packets links #}
  {% for key, link in form_category.entity.field_category_form_packets_link.value %}
    {# Prepare 'switchboard_tiles' for switchboard.twig #}
    {% set switchboard_tiles = switchboard_tiles|merge([{
      brow: "Go to"|t,
      title: link.title,
      url: link.uri,
      icon_link: true,
      url_attributes: tile_url_attributes
    }]) %}
  {% endfor %}
{% endfor %}

{# If there's no switchboard, add full-height class to the container #}
{% if switchboard_tiles is empty %}
  {% set classes = ['jcc-form--hero-full-height']|merge(classes|default([''])) %}
{% endif %}

<article{{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}

  {# Prepare 'title' for hero.twig #}
  {% set title %}
    {{media.label}} <span style="white-space: nowrap;">({{media.field_number.value}})</span>
  {% endset %}

  {# Prepare 'body' for hero.twig #}
  {% set body %}
    <div class="jcc-form--form-links">
      <a href={{ media.field_url.uri }}
         class="jcc-form--link border-primary-vivid"
         aria-label="View {{media.field_number.value}} {{media.label}} form PDF">
        {# {{ link("View PDF"|t,  media.field_url.uri) }} #}
        {% include '@atoms/icons/icon.twig' with {
          icon: {
            name: 'file',
            width: 'width-2',
            height: 'height-2',
            color: 'text-primary-vivid'
          }
        } %}
        <span>Get form {{media.field_number.value}}</span>
      </a>

      {% if media.field_form_filling_instructions_.uri %}
      <a href={{ media.field_form_filling_instructions_.uri }}
         class="jcc-form--link border-primary-vivid"
         aria-label="View instructions for filling {{media.field_number.value}} {{media.label}}">
        {% include '@atoms/icons/icon.twig' with {
          icon: {
            name: 'file',
            width: 'width-2',
            height: 'height-2',
            color: 'text-primary-vivid'
          }
        } %}
        <span>Get instructions for form {{media.field_number.value}}</span>
      </a>
      {% endif %}
    </div>

    {% if language_links %}
      <div class="jcc-form--languages">
        {% for language_link in language_links %}
          <li>{{ language_link }}</li>
        {% endfor %}
      </div>
    {% endif %}
  {% endset %}

  {# Prepare 'column_content_right' for hero.twig. #}
  {% set column_content_right %}

    {% if media.field_form_thumbnail.entity.uri.value %}
      {% set form_thumbnail_url = file_url(media.field_form_thumbnail.entity.uri.value) %}
    {% else %}
      {% set form_thumbnail_url = '/' ~ directory ~ '/assets/images/form-generic.jpg' %}
    {% endif %}

    <div class="jcc-form--thumbnail">
      <a href="{{ media.field_url.uri }}">
        <img src="{{ form_thumbnail_url }}"
             alt="View {{media.field_number.value}} {{media.label}} form PDF">
      </a>
    </div>
  {% endset %}

  {# Include hero component. #}
  {% include '@molecules/blocks/hero/hero.twig' with {
    hero: {
      breadcrumbs : {},
      title: title,
      lead: content.field_description ? content.field_description : '',
      body: body,
      column_variant: 'has-two-columns-threequarter',
      column_content_right: column_content_right
    }
  } %}

  {% if switchboard_tiles is not empty %}

    {# Include switchboard component. #}
    {% include '@organisms/sections/switchboard/switchboard.twig' with {
      switchboard: {
        background_variant: 'has-background-color--dark',
        layout_variant: 'next',
        body: ' ',
        headergroup: null,
        items: {
          primary: switchboard_tiles,
        },
      }
    } only %}

  {% endif %}

</article>
