{% extends 'node.html.twig' %}
{% block content %}
  {% include '@molecules/blocks/hero/hero.twig' with {
    breadcrumbs: [
      {
        url: path('entity.node.canonical', { 'node': node.field_parent.entity.id }),
        label: node.field_parent.entity.label,
      },
      {
        label: label,
      }
    ],
    title: content.field_title_display|render ? content.field_title_display : label,
    body: content.field_column_first,
    column_content_right: content.field_column_second,
    column_variant: content.field_column_second|render ? 'has-two-columns-half' : null,
    background_variant: 'has-background-color--light'
  } %}

  <div class="jcc-tab-section__container">
    <h4 class="jcc-header-group__title">
      {{ content.field_howto_tabs_title }}
    </h4>
    {{ content.field_howto_tabs }}
  </div>

  {# Create the right column. #}
  {% set right_column %}

    {# @todo Use courtyard molecules-read-more. #}
    {{ content.field_blocks }}

    {# @todo Use courtyard molecules-filelist.#}
    {{ content.field_forms }}
  {% endset %}

  {% include '@organisms/sections/text-section/text-section.twig' with {
    column_content_left: content.body,
    column_content_right: right_column,
    column_variant: 'has-two-columns-threequarter'
  } only %}

  {{ content|without(
    'body',
    'field_blocks',
    'field_column_first',
    'field_column_second',
    'field_forms',
    'field_howto_body',
    'field_howto_tabs',
    'field_howto_tabs_title',
    'field_parent',
    'field_title_display'
  )}}
{% endblock %}
